// https://codepen.io/goulart81/pen/ExQygWx
.code-editor {
  font-family: "Source Code Pro", monospace;
  padding: 2rem 4rem;
  font-size: 0.85rem;
  letter-spacing: 0.4px;
  color: lightgrey;
  background-color: #2d2832;
  border-radius: 0.25rem;
  width: 32rem;
  max-width: 32rem;
}

.code-editor code {
  padding: 2rem 4rem;
  counter-reset: step;
  counter-increment: step 0;
  position: relative;
  outline: none;
  word-break: break-all;
  resize: none;
  overflow-wrap: normal;
  overflow-x: auto;
}

.code-editor p {
  max-width: 35rem;
  position: relative;
  white-space: pre-wrap;
}

.code-editor p::before {
  position: absolute;
  top: 0;
  left: -1.75rem;
  color: #554b5e;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  content: counter(step);
  counter-increment: step;
}
